#calculator-digits,
#calculator-operations {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border: none;
  height: 360px;
}

#calculator-digits c-button {
  width: 33.33%;
  height: 25%;
}

#calculator-digits c-button:is(:nth-last-child(1), :nth-last-child(2)) {
  width: 50%;
}

#calculator-operations {
  flex-direction: column;
}

#calculator-operations c-button {
  height: 20%;
}

:is(#calculator-digits, #calculator-operations) c-button {
  transition: var(--transition-1);
  animation: fade-in 1s;
}

#calculator-digits c-button {
  background-color: var(--color-black);
}

#calculator-operations c-button {
  background-color: var(--color-primary);
}

@media screen and (min-width: 981px) {
  :is(#calculator-digits, #calculator-operations) c-button:hover {
    opacity: var(--opacity-medium);
  }
}

@media screen and (max-width: 980px) {
  :is(#calculator-digits, #calculator-operations) c-button:is(:active, :link) {
    opacity: var(--opacity-medium);
  }
  :is(#calculator-digits, #calculator-operations) c-button {
    -webkit-tap-highlight-color: rgba(34, 34, 34, var(--opacity-medium)) !important;
  }
}

@media (min-width: 280px) and (max-width: 767px) {

  #calculator-operations {
    width: 25vw;
  }
  
  #calculator-digits {
    width: 75vw;
  }
}

@media screen and (min-width: 767px) {

  #calculator-digits c-button:nth-last-child(2) {
    border-radius: 0 0 0 var(--border-radius-1);
  }
  
  #calculator-operations c-button:last-child {
    border-radius: 0 0 var(--border-radius-1) 0;
  }

  #calculator-operations {
    width: 80px;
  }
  
  #calculator-digits {
    width: 280px;
  }
}