body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: grid;
  width: 360px;
  margin: 0;
}

#calculator-digits,
#calculator-operations {
  display: grid;
  grid-row: 2/3;
  padding: 0;
  margin: 0;
  border: none;
  height: 320px;
}

:is(#calculator-digits, #calculator-operations) c-button {
  transition: var(--transition-1);
  animation: fade-in 1s;
}

#calculator-digits c-button {
  background-color: #222;
}

#calculator-operations c-button {
  background-color: orange;
}

:is(#calculator-digits, #calculator-operations) c-button:hover {
  opacity: .6;
}

#calculator c-input {
  grid-row: 1/2;
  grid-column: 1/3;
}

#calculator-digits c-button:nth-child(3n+1) {
  grid-column: 1/2;
}

#calculator-digits c-button:nth-child(3n+2) {
  grid-column: 2/3;
}

#calculator-digits c-button:nth-child(3n+3) {
  grid-column: 3/4;
}

#calculator-digits c-button:last-child {
  grid-column: 1/4;
}

@media screen and (min-width: 767px) {

  #calculator {
    border-radius: var(--border-radius-1);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
  }

  #calculator c-input {
    max-height: 80px;
  }

  #calculator-digits c-button:last-child {
    grid-column: 1/4;
    border-radius: 0 0 0 var(--border-radius-1);
  }
  
  #calculator-operations c-button:last-child {
    border-radius: 0 0 var(--border-radius-1) 0;
  }

  #calculator-operations {
    width: 80px;
  }
  
  #calculator-digits {
    width: 280px;
  }
}

@media (min-width: 280px) and (max-width: 767px) {

  #calculator {
    height: 100vh;
    width: 100vw;
    grid-template-rows: calc(100vh - 280px) auto;
  }

  #calculator-operations {
    width: 25vw;
  }
  
  #calculator-digits {
    width: 75vw;
  }
}
