body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
}

#calculator-digits,
#calculator-operations {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border: none;
  height: 360px;
}

#calculator-digits c-button {
  width: 33.33%;
  height: 25%;
}

#calculator-digits c-button:last-child {
  width: 100%;
}

#calculator-operations {
  flex-direction: column;
}

#calculator-operations c-button {
  height: 20%;
}

:is(#calculator-digits, #calculator-operations) c-button {
  transition: var(--transition-1);
  animation: fade-in 1s;
}

#calculator-digits c-button {
  background-color: #222;
}

#calculator-operations c-button {
  background-color: orange;
}

:is(#calculator-digits, #calculator-operations) c-button:hover {
  opacity: .6;
}

@media screen and (min-width: 767px) {

  #calculator {
    border-radius: var(--border-radius-1);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
  }

  #calculator c-input {
    height: 100px;
  }

  #calculator-digits c-button:last-child {
    border-radius: 0 0 0 var(--border-radius-1);
  }
  
  #calculator-operations c-button:last-child {
    border-radius: 0 0 var(--border-radius-1) 0;
  }

  #calculator-operations {
    width: 80px;
  }
  
  #calculator-digits {
    width: 280px;
  }
}

@media (min-width: 280px) and (max-width: 767px) {

  #calculator {
    height: 100vh;
    width: 100vw;
  }

  #calculator c-input {
    height: calc(100% - 360px);
  }

  #calculator-operations {
    width: 25vw;
  }
  
  #calculator-digits {
    width: 75vw;
  }
}
